@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base */
:root {
  color-scheme: light dark;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Helvetica Neue, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}

.dark-date-input {
  color: #ffffff !important;
  color-scheme: dark !important;
  -webkit-text-fill-color: #ffffff;
}

.dark-date-input::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: none !important;
  opacity: 1 !important;
}

/* Reglas globales para inputs de fecha */
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="month"] {
  color-scheme: dark !important;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="month"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: none !important;
  opacity: 1 !important;
}
